* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.hr-flex {
    display: flex;
    align-items: center;
}

.logo {
    vertical-align: middle;
}

.list-pd {
    padding: 10px;
}

.blue-bn {
    background-color: blue;
    color: white;
}


/* main */
.section {
    background-color: darkcyan;
    display: flex;
    justify-content: center;
}

.img-jumbo{ width: 100%;
    height: auto;
}

.container{
    width: 80%;
    display: flex;
}

.jumbo{
    display: flex;
}